/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d5f5e3; /* Светло-зеленый фон */
    color: #2e7d32; /* Темно-зеленый текст */
    margin: 0;
    padding: 0;
}

header, footer {
    padding: 20px;
    background-color: #c8e6c9; /* Более темный зеленый фон */
    color: #2e7d32; /* Темно-зеленый текст */
}

main {
    padding: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2e7d32; /* Темно-зеленый заголовок */
}

h2 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #2e7d32; /* Темно-зеленый текст */
}

p {
    font-size: 1em;
    margin-bottom: 30px;
    line-height: 1.6; /* Улучшаем читаемость */
}

#timePassed {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    color: #388e3c; /* Более темный зеленый цвет */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff6b6b; /* Розовая кнопка */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Закругленные углы */
}

button:hover {
    background-color: #ff4d4d; /* Темнее при наведении */
}

.hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Анимация падающих сердечек */
@keyframes fall {
    0% { transform: translateY(-50px); }
    100% { transform: translateY(calc(100vh + 50px)); opacity: 0; }
}

.fas.fa-heart {
    animation: fall 5s ease-in-out forwards;
    position: absolute;
    color: #ff6b6b; /* Розовые сердечки */
    font-size: 1rem;
}